@page
@model RoutingSandbox.Pages.LoginModel
@{
}
Login page!
<form method="get">
    <input type="text" id="name" name="name" />
    <input type="checkbox" id="isAdmin" name="isAdmin" /> <label for="isAdmin">Is Admin?</label>
    <input type="submit" value="Login" />
</form>
